# dependencies
node_modules/

# Next.js build output
.next/
out/

# Test results / artifacts
test-results/
playwright-report/
coverage/

# env files
.env
.env.local
.env.production.local
.env.development.local

# misc
*.pem
.DS_Store
npm-debug.log*
